@import 'variables';
.test {
    font-size: 40 rem;
    background-color: $red-color;
    width: 100px;
}

h1 {
    color: $red_color;
}
h2 {
    color: gray;
}

.card-customer-item {
    margin-top: 16px;
    margin-left: 100px;
}

.checkbox-select-all-options {
    width : 1200px;
    margin: 14px 0;
}

