<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Loại sách</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Sác kỹ năng sống </a></li>
                            <li><a href="#">Sách kinh tế, khởi nghiệp</a></li>
                            <li><a href="#">Sách hot, best seller</a></li>
                            <li><a href="#">Sách thiếu nhi</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Sách mới </h4>
                        <div class="blog__sidebar__recent">
                            <a href="https://www.bookbrowse.com/arc/arc_reviews/detail/index.cfm/arc_number/982/title/ones-company/?utm_source=border&utm_medium=banner&utm_campaign=fi_ones-company"
                                class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img width="70px" height="90px"
                                        src="https://www.bookbrowse.com/images/previews_images/9780393866643.jpg"
                                        alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>One's Company <br /> by Ashley Hutson</h6>
                                    <span>06/2022</span>
                                </div>
                            </a>
                            <a href="https://www.bookbrowse.com/arc/arc_reviews/detail/index.cfm/arc_number/974/title/good-husbands/?utm_source=border&utm_medium=banner&utm_campaign=fi_good-husbands"
                                class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img width="70px" height="90px"
                                        src="https://www.bookbrowse.com/images/previews_images/9780778333203.jpg"
                                        alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Good Husbands <br /> by Cate Ray</h6>
                                    <span>05/2022</span>
                                </div>
                            </a>
                            <a href="https://www.bookbrowse.com/bb_briefs/detail?ezine_preview_number=16626&title=carolina-moonset&utm_source=border&utm_medium=banner&utm_campaign=obc_carolina-moonset"
                                class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img width="70px" height="90px"
                                        src="https://www.bookbrowse.com/images/previews_images/9781250810144.jpg"
                                        alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Carolina Moonset <br />by Matt Goldman</h6>
                                    <span>04/2022</span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="https://www.reader.com.vn/uploads/news/a_1393898693_reviewsachnhungnguoithanhcongnhatlamgitruocbuasang0.jpeg"
                                    alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 06/2022</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a  target="_blank" href="#">Review Những người thành công nhất làm gì trước bữa sáng</a></h5>
                                <p>Những người thành công nhất làm gì trước bữa sáng - bí quyết tận dụng thời gian hiệu
                                    quả của những cá...</p>
                                <a  target="_blank"  target="_blank" href="https://www.reader.com.vn/nhung-cuon-sach-doat-giai-nobel-van-hoc-nen-doc-mot-lan-trong-doi-a594.html"
                                    class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="https://www.reader.com.vn/uploads/news/a_1888617730_sachdetamkhongban4.jpeg"
                                    alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 04/2022</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a  target="_blank"
                                        href="https://www.reader.com.vn/review-sach-de-tam-khong-ban-ryunosuke-koike-a647.html">Review
                                        sách Để tâm không bận - Ryunosuke Koike</a></h5>
                                <p>Để tâm không bận là một cuốn sách có một góc nhìn hoàn toàn mới lạ về sự đau khổ,
                                    không phải là một...</p>
                                <a  target="_blank" href="https://www.reader.com.vn/review-sach-de-tam-khong-ban-ryunosuke-koike-a647.html"
                                    class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img  src="/img/blog/blog-1.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 09/2021</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a  target="_blank"
                                        href="https://www.reader.com.vn/review-sach-khong-so-cham-chi-so-dung-van-tinh-a790.html">Review
                                        sách Không sợ chậm chỉ sợ dừng - Vãn Tình</a></h5>
                                <p>Không sợ chậm chỉ sợ dừng một cuốn sách giống như kim chỉ nam hướng bạn đọc đến lối
                                    sống kỷ luật...</p>
                                <a  target="_blank" href="https://www.reader.com.vn/review-sach-khong-so-cham-chi-so-dung-van-tinh-a790.html"
                                    class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog-4.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 08/2021</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a  target="_blank" href="https://www.reader.com.vn/review-sach-tat-ca-deu-la-chuyen-nho-a641.html">Review
                                        sách Tất cả đều là chuyện nhỏ</a></h5>
                                <p>Tất cả đều là chuyện nhỏ dạy cho chúng ta cách suy nghĩ đơn giản trong cuộc sống. Hãy
                                    bỏ qua những chuyện... </p>
                                <a  target="_blank" href="https://www.reader.com.vn/review-sach-tat-ca-deu-la-chuyen-nho-a641.html"
                                    class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog-5.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i>08/2020</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a  target="_blank"
                                        href="https://www.reader.com.vn/trich-dan-sach-ban-chi-tuong-la-minh-dang-rat-co-gang-a792.html">Trích
                                        dẫn sách Bạn chỉ tưởng là mình đang rất cố gắng</a></h5>
                                <p>Những trích dẫn đắt giá nhất trong cuốn sách “Bạn chỉ tưởng là mình đang rất cố gắng”
                                    sẽ giúp bạn... </p>
                                <a  target="_blank" href="https://www.reader.com.vn/trich-dan-sach-ban-chi-tuong-la-minh-dang-rat-co-gang-a792.html"
                                    class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="img/blog/blog-6.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 09/2022</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a  target="_blank"
                                        href="https://www.reader.com.vn/diem-sach-bo-tieu-thuyet-an-khach-gioi-sieu-giau-chau-a-a129.html">Điểm
                                        sách: Bộ tiểu thuyết ăn khách Giới siêu giàu Châu Á</a></h5>
                                <p>Giới siêu giàu Châu Á là một trong những bộ sách về châu Á bán chạy nhất Thế giới,
                                    tác giả cuốn sách là... </p>
                                <a  target="_blank" href="https://www.reader.com.vn/diem-sach-bo-tieu-thuyet-an-khach-gioi-sieu-giau-chau-a-a129.html"
                                    class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<script>
    document.getElementById('nav_blog1').style.color = '#7FAD39';
    document.getElementById('nav_blog2').style.color = '#7FAD39';
</script>