  <!-- Hero Section Begin -->
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="hero__categories">
            <div class="hero__categories__all">
              <i class="fa fa-bars"></i>
              <span>Danh mục sách</span>
            </div>
            <ul>
              <li><a href="/categorys?cate=135">Sách chính trị</a></li>
              <li><a  href="/categorys?cate=137">Sách kỹ năng sống</a></li>
              <li><a href="/categorys?cate=138">Sách kinh tế, khởi nghiệp</a></li>
              <li><a href="/categorys?cate=139">Sách hot, best seller</a></li>
              <li><a href="/categorys?cate=140">Tiểu thuyết, thơ, hồi ký...</a></li>
              <li><a href="/categorys?cate=141">Sách thiếu nhi</a></li>
              <li><a href="/categorys?cate=142">Sách chuyên nghành</a></li>
              <li><a href="/categorys?cate=143">Sách ngoại ngữ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="hero__search">
            <div class="hero__search__form">
              <form method="get" action="/home/search">
                <div class="hero__search__categories">
                  Loại sách
                  <span class="arrow_carrot-down"></span>
                </div>
                <input name="txtSearch" type="text" placeholder="Tìm kiếm...">
                <button type="submit" class="site-btn">Tìm kiếm</button>
              </form>
            </div>
            <div class="hero__search__phone">
              <div class="hero__search__phone__icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="hero__search__phone__text">
                <h5>0763639952</h5>
                <span>Liên lạc 24/7</span>
              </div>
            </div>
          </div>
          {{!-- https://cdn0.fahasa.com/media/magentothem/banner7/quoctethieunhi_1.2_840x320.jpg --}}
          {{!-- https://newshop.vn/public/uploads/options/sachkinhdoanh.jpg --}}
          <div class="hero__item set-bg" data-setbg="https://cdn0.fahasa.com/media/magentothem/banner7/quoctethieunhi_1.2_840x320.jpg ">
            <div class="hero__text">
              {{!-- <h2>BOOK <br />Book sale</h2> --}}
              <a href="/shop" class="primary-btn">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->
  
